/mysite/Pipfile
/mysite/Pipfile.lock
/mysite/meetingmanage/__pycache__
/mysite/meetingmanage/migrations
/mysite/polls/__pycache__
/mysite/polls/migrations
/mysite/mysite/__pycache__
/.vscode/settings.json
/mysite/meetingmanage/static/meetingmanage/jslib/文档与示例
*.pyc

