/.vscode/settings.json
/mysite/Pipfile
/mysite/Pipfile.lock
/mysite/mysite/__pycache__
/mysite/meetingmanage/__pycache__
/mysite/meetingmanage/migrations
/mysite/polls/__pycache__
/mysite/polls/migrations